.buttons {
  text-align: center;
}

.ctbutton {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("https://vignette1.wikia.nocookie.net/cswikia/images/4/4c/Csgo_CT_icon_alt.png/revision/latest?cb=20151222191721");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 205px;
  text-align: center;
  margin-left: 10%;
  border-width: 10px;
  border-color: gray;
  border-style: solid;
}

.tbutton  {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtkmNj-34BqO0SlUPAMPTOjzjUhiOtTkN97A&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px;
  text-align: center;
  border-width: 10px;
  border-color: #BDB76B;
  border-style: solid;
}

.button {
  width: 200px;
  height: 200px;
  font-size: 30px;
  border-radius: 50%;
  background-image: url("https://static.wixstatic.com/media/f12825_e4a2eed6e2394995a74276ef3b8c6d2d~mv2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-width: 10px;
  border-color: brown;
  border-style: solid;
}

.buttontext {
  position: relative;
  top: 10px;
  right: 150px;
  color: white;
}
.buttontext2 {
  position: relative;
  top: -45px;
  right: -150px;
  color: white;

}

.stopmusic {
  position: relative;
  top: -1190px;
  right: 10px;
  height: 30px;
}


.bg {
  background-color: gray;
  background-image: url("https://steamcdn-a.akamaihd.net/apps/csgo/blog/images/wallpaper_nologo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button:hover {
  background-color: gray;
}


.shitban {
  text-align: center;
  margin-top: 400px;
}
.shit {
  width: 1000px;
  height: 150px;
  font-size: 70px;
  background-color: red;
}

.mapsel {
  text-align: center;
  color: white;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
